* {
  margin: 0;
  padding: 0;
}
/* #1,2,3 */
/* .container {
  text-align: center;
  background-color: bisque;
}

.text {
  font-weight: 400;
  padding: 10px 0px 10px 0px;
}

.numbers {
  padding: 0px 0px 10px 0px;
  font-size: 40px;
}

.pole {
  padding-bottom: 10px;
}
.buttons {
  padding: 10px 60px;
  font-size: 20px;
  margin: 10px;
}
.te {
  text-align: center;
} */

/* 4 */
/* .container {
  display: flex;
  background-color: bisque;
  border: solid;
  height: 150px;
}
.pole {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: rgb(138, 138, 219);
  border-right: solid;
}
.te {
  font-size: 23px;
  width: 70%;
  margin-left: 10px;
}
.buttons {
  margin: 10px;
  padding: 5px 0px;
  background-color: rgb(138, 138, 219);
  font-size: 15px;
  border: none;
} */

/*    dz       */
/* #2 */
/* .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}
.content {
  background-color: whitesmoke;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  position: relative;
}
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: red;
  float: right;
  font-size: 20px;
  font-weight: bold;
} */

/* #3 */
/* #field {
  width: 100vw;
  height: 100vh;
  background-image: url("https://lh3.googleusercontent.com/proxy/37dXSz1KpxZZDNimkxuNsQDqR7Go_TEAYG9AUWB9RdhcnTuNX5xRx_eBgNGhyOsJwrhDHg07h3fP9EnXQcmFYI1n2uTedJoabPjC3mX6zJUUHUwRDMKu5WWe43kDgJVoIKi9peUb-tn2MgbwCS8x");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

#ball {
  position: absolute;
  left: 47.5%;
  top: 49%;
  width: 100px;
  height: 100px;
  transition: all 0.7s;
} */

/* #4 */
/* .cont {
  display: flex;
}
.col1,
.col2,
.col3 {
  width: 10em;
  height: 10em;
  border: solid 1px;
  border-radius: 50%;
} */

/* #5 */
/* .cl {
  background-color: orange;
} */

/* #6 */
/* .tooltip {
  position: fixed;
  padding: 10px 20px;
  border: 1px solid #b3c9ce;
  border-radius: 4px;
  text-align: center;
  font: italic 14px/1.3 sans-serif;
  color: #333;
  background: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.btn {
  position: relative;
  top: 60px;
} */
