* {
    padding: 0;
    margin: 0;
}
.main_block {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forma {
    background-color: antiquewhite;
    border: 1px solid;
    width: 350px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#type,
#title {
    margin-left: 50px;
}
.button {
    width: 255px;
}
.films {
    display: flex;
    justify-content: space-evenly;
    margin-top: 300px;
    min-height: 400px;
}
.divMovie {
    height: 300px;
    width: 300px;
    border: solid 1;
   
    margin: 0 10px;
}
